.btn-play {
    background-color: #26ad2d;
    color: #ffffff;
    padding: 1.5% 20px;
    border: 5px solid #6de473;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 20% 30%;
    width: 40%;
    transition: 1s;
}

.btn-play:hover {
    background-color: #22a528;
    transform: scale(1.1);
}

.btn-play h1 {
    font-size: 50px;
}